*,body,html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0px;
    outline: none;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#LOADER{
    
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    background: #000;
    text-align: center;
    color: white;
    transform-origin: 0% 0%;
    & pre{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.5s;
        animation: rotate-line 1s linear infinite alternate;
        
        
    }
}
@keyframes rotate-line {
    
    to{
        /* transform-origin: 50% 100%; */
        transform: rotateY(240deg);
    }
    
}
@keyframes fade-out {
    
    
    
    to{
        display: none;
        /* opacity: 0.0; */
        transform:rotateY(90deg);
    }
    
}



#window5{

    transition: all 0.6s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height:100vh;

    width: 100%;
    background-image: url("tjbg.webp");
    
    background-position: 30% 30%;
    background-size: cover;
    overflow: auto;
    background-repeat: no-repeat;

}