.weather-main{
    transition: all 0.2s ease-in-out;
    animation: change-bg 10s linear alternate-reverse forwards infinite;
    background-image: url(mainbg.jpg);
    background-position: center;
    background-size: cover;
    filter: saturate(1.4);
    background-repeat: no-repeat;
}

#weather-city-image{
    height: 140px;
    max-width: 200px;
    /* margin-top: 1rem; */
    padding: 0.55rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 1px 10px 1px black;
    filter: drop-shadow(5px 10px 5px black);

}

@keyframes change-bg {
    from{
        background-position: 0% 0%;
    }   
    to{
        background-position: 100% 100%;

    }
}

@media only screen and (max-width:650px){
    .weather-main{
        animation: change-bg 20s linear alternate-reverse forwards infinite;
    }
}

/* @media only screen and (max-height:410px) {
        #window5{
            height: max-content;
        }
} */

